<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>ACCUEIL</title>
		    
      <link rel="stylesheet" type="text/css" href="/css/slideshow.css" media="all"/>
      <link rel= "stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <a class="navbar-brand" href="/">ACCUEIL</a>
       <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"  "fixed-top text-uppercase" id="mainNav">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="navbar-collapse collapse" id="navbarColor01" >
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
             <a class="nav-link" href="/blog">PORTFOLIO</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/cv">CV</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/contact">Contact</a>
           </li>  
           <!--<li>
              <a class="nav-link" href="/oraltest">Présentation</a>
           </li>  
           --> 
         </ul>
       </div>
     </nav>
     <br>
     <center><h1><u> Je me présente à travers le WEB </h1></u></center>
     <br>
     <pre>
              Dans ce site WEB ,Je vais me présenter en y introduisant mon Portfolio de compétences et mon CV pour réussir le projet professionnel de mes rêves  
          en mentionnat la majorité de mes compétences ,mes loisirs ,mes centres d'intérêt ,mes diplomes ainsi que mon expérience professionnelle .</p>
      </pre> 
     <center><h5><u>Mon identité</u></h5>
     
     <div class="card border-primary mb-3" style="max-width: 25rem;">
       <div class="card-header"></div>
       <div class="card-body">
         <center><h4 class="card-title">Nom Complet </h4>
         <p class="card-text">ELBADAOUI Salah Eddine </p></center>
         <center><img alt="photoprofil" src="/images/photoprofil.jpeg" height="200px" width="150px"></center>
       </div>
     </div>
     <div class="card border-secondary mb-3" style="max-width: 25rem;">
       <div class="card-header"></div>
       <div class="card-body">
        <center> <h4 class="card-title">Date de naissance </h4>
        <p class="card-text">10 Octobre 2003</p> </center>
       </div>
      </div>
    <div class="card border-success mb-3" style="max-width: 25rem;">
     <div class="card-header"></div>
     <div class="card-body">
       <center> <h4 class="card-title">Nationalité</h4>
       <p class="card-text">Marocaine</p> </center>
      </div>
    </div>
    <div class="card border-danger mb-4" style="max-width: 25rem;">
     <div class="card-header"></div>
     <div class="card-body">
       <center><h4 class="card-title">E-mail</h4>
       <p class="card-text">salah.eddine.elbadaoui@etu.univ-st-etienne.fr</p></center>
     </div>
    </div>       
    <br>
    <center><h5><u>Mes loisirs</u></h5></center>
    <center><button type="button" class="btn btn-info"><a href="/loisirs"><strong>Pour en savoir plus</strong></a></button></center>
    <footer>
      <small class="text-muted">© Copyright - Tout droit réservé - (copie interdite) </small>
    </footer>  
  </body>
</html>




