{% extends 'base.html.twig' %}

{% block title %}PORTFOLIO{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<a name="haut"></a>
<center><h4><u>Portfolio de compétences :</u> </h4>
(Réseaux et télécommunications)</center>
<center><div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
  <div class="card-header">Compétence 1</div>
  <div class="card-body">
    <h4 class="card-title"><u>Réseau</u></h4>
    <p class="card-text">En réseau , j'ai acquis pleins de notions par exemple :
    <br>-Configuration des commutateurs de marque CISCO (Vlans,Affectation des ports,SSH,TELNET,Sécurisation par mots de passe,..)
    <br>-Configuration des ports soit en mode access soit en mode trunk en cas de passage de plusieurs VLANs sur le même port (en trunk le vlan avec le plus grand trrafic et les autres vlans avec la commande allow ...) 
    <br>-Connaissance des différents protocoles (IP,TCP,ICMP,ARP,STP,CDP,...)
    <br>-Connaissance de quelques différences entre les standards IPv4 et IPv6 au niveau des protocoles , codage des adresses IP ett l'xistence des adresses privées (broadcast,multicast...)
    <br>-Analyse des trames pour localiser les champs importants dedans (adresse destination et source , ethertype, longueur de trame ,protocole ...)
    <br>-Conception des LANs et leurs simulation sur packet tracer 
    <br> ➤lien vers un de mes comptes rendus qui justifie cela <a class="réseau" href="https://docs.google.com/document/d/15u3Odhn3jxamTfdxVYQEGzOt-BCZpGLLC2iCUPiHfyw/edit"> cliquez ici </a>
     </p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
  <div class="card-header">Compétence 2</div>
  <div class="card-body">
    <h4 class="card-title"><u>Mathématiques</u></h4>
    <p class="card-text">-Analyse des signaux (périodiques , sinusoidaux, triangulaires...)
    <br>-Étude des fonctions (continuité, dérivabilité, concavité, limites, parité ....)
    <br>-Traçage des courbes 
    <br>-Maîtrises des différentes fonctions usuelles mathématiques (logarithmes, exponentielles, trigonométriques, ... )
    <br>-Maîtrise des nombres complexes 
    <br>-Maîtrise des calculs trigonométriques
    <br>-Connaissance des notions approfondies en Arithmétique
    <br>-Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement
    <br>➤lien vers une pièce justificative <a class="maths" href="https://docs.google.com/document/d/1nn4ZaQb61hHuNT_xy8kU11lmscCyRpDT2C9IS7AvomI/edit"> cliquez ici </a>
    </p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 50rem;">
  <div class="card-header">Compétence 3</div>
  <div class="card-body">
    <h4 class="card-title"><u>Hygiène et sécurité informatique </u></h4>
    <p class="card-text">Cette année j'ai suivi une formation en ligne du MOOC ANSSI de l'académie SECNNUM où j'ai appris connaissances du monde de la cybersécurité en exploitant les différentes vulnérabilités informatiques , ansi que les attaques utilisés par les hackers et les pirates et leurs différents types . Après avoir su tout cela ,on m'a appris pleins de méthodes de protection et de sécurité qu'on peut mettre en place pour se défendre le maximum possible .Et à la fin j'ai pu avoir mon attestation pour cette formation que vous la trouverez ➤<a classe="attestation" href="/images/attestation.png">ici</a></p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 50rem;">
  <div class="card-header">Compétence 4</div>
  <div class="card-body">
    <h4 class="card-title"><u>Éléctronique/Électricité</u></h4>

    <p class="card-text">Dans ce domaine , je me sens vraiment à l'aise et j'ai appris assez de notions pour avoir une bonne base :
    <br>-Résolution des shéma des circuits électriques et réalisation de leurs montage et cablâge électrique.
    <br>-Maîtrise et utilisation de l'oscilloscope et ses différentes fonctions pour mesurer et analyser les signaux lors d'un circuit électrique .
    <br>-Connaissance des différents théorèmes et lois fondamentales d'électronique ( Loi d'ohm, Pont diviseur de tension, théorème de Millman, Loi des noeuds, Loi d'additivité de tension ...)
    <br>-Travailler sur des circuits particulier comme RLC ,RL ,RC et RLC forcé </p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 50rem;">
  <div class="card-header">Compétence 5 </div>
  <div class="card-body">
    <h4 class="card-title"><u>Développement WEB </u></h4>
    <p class="card-text">Cette année j'ai acquis quelques notions de base dans le développement WEB à travers les différents langages utilisés pour créer des sites WEB comme HTML qui va toujours avec le CSS pour le style ainsi que symfony qui est en fait un outil de création des sites web modernes qui utilise essentiellmeent le langage PHP avec du HTML et CSS et Javascript .
    <br>➤Lien vers des travaux simples réalisés : <a class="web" href="https://docs.google.com/document/d/1nXnvwxvSQUf2aQZ7t_7qB39rzl0TR-xa/edit"> cliquez ici </a> </p>
  </div>
</div>
</center>
<marquee><figure class="text-center">
  <blockquote class="blockquote">
    <p class="mb-0">"Never regard study as a duty, but as the eviable opportunity to learn."</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
    Albert Einstein<cite title="Source Title"></cite>
  </figcaption>
</figure></marquee>
<center><button type="button" class="btn btn-info"><a href="#haut">Retour en haut de la page</a></button></center>
     

{% endblock %}
